.user-chip {
    overflow: auto;
    padding: 10px;
    margin-bottom: 1px;
    position: relative;
}

.user-chip__avatar {
    background-color: #cccccc;
    border-radius: 50%;
    float: left;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.user-chip__details {
    margin-left: 40px;
}

.user-chip__name {
    display: block;
    font-weight: bold;
}

.user-chip__role {
    display: block;
}